/* Position */
/* Box */
/* Typogrpahy */
/* Visual */
/* Misc */

.home {
  /* Box */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}

.filter__container {
  /* Position */
  /* Box */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 0 10px;
  /* Typogrpahy */
  color: var(--font-primary-color);
  /* Visual */

  /* Misc */
}

@media (min-width: 769px) {
  .filter__container {
    justify-content: space-between;
    margin-right: 50px;
  }
}

.drop__items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter,
.sort {
  cursor: pointer;
  margin: 0 10px;
}

.filter__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter__icon {
  transition: 0.5s ease-in;
}

.filter__icon.rotate {
  transform: rotate(180deg);
}

.filter__reset {
  /* Box */
  height: 25px;
  padding: 5px 10px;
  margin-left: 10px;
  margin-right: 5px;
  /* Typogrpahy */
  font-size: 14px;
  /* Visual */
  border: none;
  border-radius: 10px;
  background-color: var(--accent-green);
  color: var(--bg-primary-color);
  /* Misc */
}

.product__container {
  /* Position */
  /* Box */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  margin-right: 15px;
  /* Typogrpahy */
  /* Visual */
  /* Misc */
}

@media (min-width: 769px) {
  .product__container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.search__input {
  /* Position */
  /* Box */
  width: 115px;
  /* Typogrpahy */
  /* Visual */
  /* Misc */
}

.search__input {
  /* Box */
  margin-left: 5px;
  padding: 5px;
  /* Typogrpahy */
  font-family: inherit;
  font-style: italic;
  /* Visual */
  outline: none;
  border-radius: 5px;
  border: solid 1px gray;
  /* Misc */
}

.search__input:focus {
  outline: none;
}
