.checkout__product {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: flex-start;
}

.checkout__product__info {
  padding-left: 20px;
}

.checkout__product__info > button {
  /* Box */
  margin-top: 10px;
  padding: 10px 20px;
  width: 175px;
  /* Typogrpahy */
  font-size: 16px;
  /* Visual */
  color: var(--bg-primary-color);
  background-color: var(--accent-green);
  border: none;
  border-radius: 10px;
  /* Misc */
  cursor: pointer;
}

.checkout__roduct__info > button:hover {
  transform: scale(0.98);
}

.checkout__product__image {
  object-fit: contain;
  width: 150px;
  height: 180px;
}

.checkout__product__image {
}

@media (min-width: 769px) {
  .checkout__product__image {
    width: 180px;
  }
}

.checkout__product__title {
  font-size: 17px;
  font-weight: 800;
}
